{% extends "pages/base.html" %}

{% block content %}
<form action="{% url 'places' %}" method="post">
    {% csrf_token %}
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-4">
                <div class="form-group">
                    <label>Longitude</label>
                    <input type="text" class="form-control" name="Longitude" id="Longitude">
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-4">
                <label>Latitude</label>
                <input type="text" class="form-control" name="Latitude" id="Latitude">
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-4">
                <label>Distance</label>
                <input type="text" class="form-control" name="Distance" id="Distance">
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-4">
                <button type="submit" value="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
</form>
{% endblock %}
